body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1a1a1a;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    color: #1976d2;
    font-weight: 300;
}

.container {
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
    margin-top: 100px;
}

.film_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.flex {
    display: flex;
    align-items: center;
}
